body {
    background:black;
    color:white;
    text-align:center;
}
h1{
    font-family: 'Kaushan Script', cursive;
    
    font-size: 55px;
}
h2{
   font-family: 'Fjalla One', sans-serif;

    font-size: 33px;
}
img {
    width:500px;
}
p {
    font-family: 'Lobster Two', cursive;
    font-size: 28px;
}
.dog {
    color:yellow;
}
.place {
    color:blue;
}
.sweet {
    color: pink;
}
.adventure {
    color:red;
}